@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.mons{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.container{
  display: flex;

}
.section1{
  width: 30%;

}
h2{
  text-align: center;

}
h3{
  text-align: center;

}
h4{
  color: lightblue;
}
li{

  word-wrap: break-word;
  list-style: none;
  line-height: 30px;
}
li a{
  text-decoration: none;
  color: black;
}
.skils{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.skils img{
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.section2{
  width: 70%;
  border-left: 2px dotted black;
}
/* .div{
  height: auto;

} */
.personal_info{

  /* border: 1px solid black; */
  width: 85%;
  display: block;
margin-left: auto;
margin-right: auto;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.profile{
  width: 40%;
  display: block;
margin-left: auto;
margin-right: auto;
border-radius: 30px;
}
@media only screen and (max-width:600px){
  body{
    background-color: white;
  }
  h2{
    font-size:15px;
  }
  li{
    margin-left: -40px;
  }
}
