
body{
  margin: 0;
  padding: 0;
  background-color: #b0931e;
}
.container{
  display: flex;

}
.section1{
  width: 30%;
  display: flex;
  justify-content: center;
}
.section2{
  width: 70%;
}
.div{
  height: auto;
  border: 2px solid black;
}
img{
  width: 40%;
}
