@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.mons{
  font-family: 'Montserrat', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: white;
}
.container{
  display: flex;

}
.section1{
  width: 30%;

}
h2{
  text-align: center;
 font-size: 2vw;
}
h3{
  text-align: center;
font-size: 1.8vw;
}
h4{
  color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
}
li{
  font-size: 1.2vw;
  word-wrap: break-word;
  list-style: none;
  line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}
li a{
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
    font-family: 'Montserrat', sans-serif;
}
.skils{

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.skils img{
  width: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}


.section2{
  width: 70%;
  border-left: 2px dotted black;
}

.personal_info{


  width: 85%;
  display: block;
margin-left: auto;
margin-right: auto;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.profile{
  width: 40%;
  display: block;
margin-left: auto;
margin-right: auto;
border-radius: 30px;
}
@media only screen and (max-width:768px){

  li{
    margin-left: -40px;
  }
  h2{
    font-size: 12px;
  }
}
